<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF" monitorInterval="10">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%-5level] %m => [%c] [%C:%L@%M]%n" />
    </Console>
  </appenders>
  <loggers>
    <root level="TRACE">
      <appender-ref ref="Console" />
    </root>
  </loggers>
</configuration>
