@charset "UTF-8";

.lk-tab-btns {
  width: 370px;
  height: 30px;
}

.lk-tab-btn {
  width: 88px;
  float: left;
  text-align: center;
  background-color: #3395DE;
  color: white;
  margin: 2px;
  cursor: pointer;
}

.lk-tab-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lk-tab-content li {
  background-color: #B5E0FF;
  margin-top: 2px;
  color: var(--lichkin-plugin-border-color-inverse);
}

.lk-tab-content .lk-proces-banner {
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 24px;
}

.lk-app-form-btns {
  width: 370px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
}

.lk-app-form-btns .lk-app-btn {
  width: 100px;
  text-align: center;
  background-color: #52a0d0;
  color: white;
  margin: 2px;
  cursor: pointer;
  font-size: 16px;
  line-height: 30px;
  height: 30px;
  display: inline-block;
}